.overview {
  background-image: url('../../assets/images/condominium1.jpg') ;
  background-repeat: no-repeat;
  min-height: 600px !important;
  height: 600%;
}
.landing-text{
  color: #ffffff;
  padding-top: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.overview_properties{
  padding-top: 15px;
}

.prop-header{
  padding: 10px 10px;
}

a.prop-header-link{
   padding: 15px;
  padding-bottom: 25px !important;
  text-decoration: none;
}
.row{
  padding-top: 10px;
}

.card{
 box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);
}

.deck{
  margin-bottom: 15px;
}

.card-text{
  margin-bottom: 0px;
}

.card:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 159, 233, 0.897);
}
