<section class="overview">
  <div class="container">
    <div class="landing-text text-center align-content-center">
        <h1 class="display-4">{{landingText}}</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
</section>

<section class="overview_properties">
  <div class="container-fluid">
   <h2 class="prop-header text-center text-capitalize">PROPERTIES</h2>

   <div class="row deck">
     <div *ngFor="let d of propdata" class="col-md-3">
        <div (click)="onView(d)" class="card" >
          <img [src]="d.imagePath" class="card-img-top" alt="..." style="height: 160px;">
          <div class="card-body">
            <p class="card-text font-weight-bold">{{d.name}}</p>
            <p class="card-text">{{d.location}}</p>
          </div>
        </div>
     </div>
   </div>
 </div>
</section>

