<section>
  <ngb-carousel #carousel interval="7000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h5>Property Preview</h5>
      </div>
      <a [href]="img" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img class="prop-view" [src]="img" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</section>

<section>
  <div class="container-fluid">
    <div class="row details">
      <div class="col-md-6">
        <ul class="list-group text-center list-group-horizontal">
          <li class="list-group-item">
            <b>2</b>
            <br> room(s)
          </li>
          <li class="list-group-item">
           <b>2</b>
            <br>bath(s)
          </li>
          <li class="list-group-item">
            <b>2</b>
            <br>Kitchen(s)
          </li>
          <li class="list-group-item">
            <b>2</b>
            <br>living room(s)
          </li>
          <li class="list-group-item">
            <b>2</b>
            <br>sq ft
          </li>
          <li class="list-group-item">
            <b>2</b>
            <br>pool(s)
          </li>
        </ul>
        <div>
          <div class="description-window">
            <p class="text-muted">description: </p>
            <h3 class="display-5">{{property_details.name}}</h3>

            <p class="text-muted">Location:</p>
            <h6>{{property_details.location}
              </h6>
          </div>
        </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Amount</div>
          <div class="card-body">
            <h5 class="card-text">{{ 200000 | currency:'NGN' :'symbol-narrow'}}/<small>month</small></h5>
            <!-- <h5 class="card-text">{{ 1200000 | currency:'NGN' :'symbol-narrow'}}</h5><small>buy now</small> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header text-center">Contact us now!</div>
          <div class="card-body">
            <p class="card-text"><i class="fa fa-envelope"></i>{{property_details.contactDetails.contactName}}</p>
              <p class="card-text"><i class="fa fa-envelope"></i>{{property_details.buildingDetails.rooms}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


