.prop-view{
  margin-top: 4%;
  height: 500px !important ;
  width: 100%;
}

.details{
  margin-top: 20px;
}

.description-window{
  padding: 15px;

}
.text-muted{
  margin-bottom: 0px;
}
.display-5{
  text-decoration: underline;
}
